{block content}
<h1 n:block=title>Form</h1>

<h2 class="text-center">Správa ceníku</h2>
<div class="text-center">
<p>Vyberte soubor .XLS který chcete použít.</p>
</div>

<div class="text-center mb-5" n:if="$fileLink ?? false">
    <h4>Šablona ke stažení</h4>
    <a href="{$basePath}{$fileLink}" class="font-weight-bold"><i class="fas fa-file-excel"></i> sprava_ceniku-template.xls</a>
</div>

{control cenik}